version: '3'
services:
  watchdog:
    image: "registry.gitlab.com/kiliandeca/watchdog:{{ DOCKER_IMAGE_TAG }}"
    environment:
      BOT_TOKEN: $BOT_TOKEN
      CMD_PREFIX: "!"
      REDIS_HOST: redis
    depends_on:
      - redis
  redis:
    image: "redis:5-alpine"
    entrypoint: redis-server --appendonly yes
    volumes: 
      - ./data:/data